/* function Footer() {
    return (
        <footer>
            <section className="atendimento">
                <h2>Atendimento</h2>
                <a href="">Fale Conosco</a>
                <a href="">Perguntas Frequentes</a>
                <a href="">Meus Pedidos</a>
                <a href="">Nossas Lojas</a>
            </section>
            <section className="pagamento">
                <h2>Formas de pagamento</h2>
                <section className="cartaoepix">
                    <img src={mastercard} alt="Mastercard" />
                    <img src={visa} alt="Visa" />
                    <img src={pix} alt="Pix" />
                </section>
                <section className="boleto">
                    <img src={boleto} alt="Boleto" />
                </section>
            </section>
            <section className="redes">
                <article className="titulo">
                <h2>Redes Sociais</h2>
                </article>
                <article className="iconesredes">
                <a href=""><img src={facebook} alt="Facebook" /></a>
                <a href=""><img src={instagram} alt="Instagram" /></a>
                <a href=""><img src={twitter} alt="Twitter" /></a>
                <a href=""><img src={youtube} alt="YouTube" /></a>
                </article>
            </section>
        </footer>
    );
} */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    h2 {
        font-family: Roboto;
        text-transform: uppercase;
    }
}

.atendimento {
    display: flex;
    flex-direction: column;

    a{
        font-family: Roboto;
        color: #2D2D2D;
        text-decoration: none;
        font-weight: 300;
        padding: 0.7vh 0;
    }
}

.pagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cartaoepix {
        display: flex;
        flex-direction: row;
    }

    img {
        max-width: 16vw;
        min-width: 5vw;
        padding-right: 2vw;
    }

    .boleto{
        width: 25%;

    }
}

.redes {
    display: flex;
    flex-direction: column;

    .iconesredes {
        display: flex;
        flex-direction: row;
    }

    a {
        padding-right: 0.5vw;
        padding-top: 1vh;
    }
}