

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    h2 {
        font-family: Roboto;
        text-transform: uppercase;
    }
}

.atendimento {
    display: flex;
    flex-direction: column;

    a{
        font-family: Roboto;
        color: #2D2D2D;
        text-decoration: none;
        font-weight: 300;
        padding: 0.7vh 0;
    }
}

.pagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cartaoepix {
        display: flex;
        flex-direction: row;
    }

    img {
        max-width: 16vw;
        min-width: 5vw;
        padding-right: 2vw;
    }

    .boleto{
        width: 25%;

    }
}

.redes {
    display: flex;
    flex-direction: column;

    .iconesredes {
        display: flex;
        flex-direction: row;
    }

    a {
        padding-right: 0.5vw;
        padding-top: 1vh;
    }
}

/* ========================================= */
/* ==========   RESPONSIVIDADE   =========== */
/* ========================================= */

@media (max-width: 768px) {
    .container {
        align-items: center;
    }
    
    footer {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 7vw;
        gap: 5vw;

        h2 {
            font-size: 3.4vw;
        }
    }

    .atendimento {
        max-width: 40%;
        a {
            font-size: 3vw;
            padding: 1vw 0;
        }
    }

    .pagamento {
        max-width: 40%;
    }

    .redes {
        width: 40%;
    }

}