header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 6vh 2vw;
  /* Falta adicionar a sombra embaixo */

  ul {
    font-family: Poppins, sans-serif;
    display: flex;
    gap: 2vw;
  }

  li {
    list-style: none;
  }

  img {
    max-width: 30%;
  }
}
