header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 4vh 2vw;
  /* Falta adicionar a sombra embaixo */

  ul {
    font-family: Poppins, sans-serif;
    display: flex;
    gap: 2vw;
    font-size: 1.2vw;
    padding: 0 2vw;
  }

  li {
    list-style: none;
  }

  img {
    max-width: 15%;
  }
}

.menuButton {
  display: none;
}


/* ========================================= */
/* ==========   RESPONSIVIDADE   =========== */
/* ========================================= */

@media (max-width: 768px) {
  header {
    img {
      max-width: 30%;
    }

    ul {
      font-size: 3vw;
    }
  }


/* Menu Sanduíche */

.menuButton {
    width: 30px;
    height: 30px;
    position: absolute;
    padding-top: 4.5vh;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.linha {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black; 
}

.menuSanduiche {
  display: none; // escondido por padrão no desktop
}

.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 60%;
  background-color: #E4E4E4;
  padding: 20px;
  gap: 1rem;

  li {
    color: black;
    font-size: 2.2vh;
  }
}
}

@media (max-width: 480px) {
  .show {
    width: 90%;
  }

}
