header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2vw; 

  ul {
    font-family: Poppins, sans-serif;
    display: flex;
  }

  li {
    list-style: none;
  }
}
