.looksedicas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.categorias {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    padding-top: 2vh 1vw 0 30vw;
}

.boxcategoria {
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 600px;
    
   
    img {
        width: 100%;
        height: 100%;
        
        object-fit: cover;
        display: block;
    }

    h3 {
        font-family: Roboto;
        position: absolute;
        left: 15px;
        bottom: 15px;
        margin: 0;
        color: #FFFFFF;
        font-size: 3.3vh;
        font-weight: 700;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.6);

    }
}

@media (max-width: 768px) {
    .looksedicas {
        width: 100%;
    }

    .categorias {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 30vw;
    }

    .boxcategoria {
        h3 {
            font-size: 1.6vh;
        }
    }
}