.looksedicas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorias {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    padding-top: 2vh;
}

.boxcategoria {
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 600px;
   
    img {
        width: 100%;
        height: 100%;
        
        object-fit: cover;
        display: block;
    }

    h3 {
        font-family: Roboto;
        position: absolute;
        left: 15px;
        bottom: 15px;
        margin: 0;
        color: #FFFFFF;
        font-size: 3.3vh;
        font-weight: 700;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.6);

    }
}