.looksedicas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorias {
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 0.5vh;
    flex-wrap: wrap;
    padding: 1vh 1vw 0 0;
}

.boxcategoria {
    width: 100%;
    max-width: 23%;
    position: relative;
    display: flex;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    h3 {
        font-family: Roboto;
        position: absolute;
        left: 15px;
        bottom: 15px;
        margin: 0;
        color: #FFFFFF;
        font-size: 3.3vh;
        font-weight: 700;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    }
}

@media (max-width: 768px) {

    .categorias {
        width: 100%;
        max-width: 100%;
        padding: 0;
        justify-content: center;
        gap: 2vh;
    }

    .boxcategoria {
        width: 48%;       
        max-width: none;  
        height: auto;

        img {
            height: auto; 
        }

        h3 {
            font-size: 1.8vh;
        }
    }
}
