.boxlancamentos {
  width: 100%;              
  max-width: 1400px;        
  margin: 0 auto;           
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  text-align: center;
}

/* CONTAINER GERAL DOS LANÇAMENTOS */
.lancamentos {
  display: flex;
  flex-direction: row;
  padding: 0.5vh 0;
  gap: 1vh;
  align-items: center;
  justify-content: center;  
  flex-wrap: wrap;
  width: 100%;
}

/* BLOCO DAS IMAGENS (miniaturas + batom grande) */
.imagens {
  display: flex;
  align-items: center;
  padding: 0 3vh;
  justify-content: center;
  flex-wrap: wrap;
}

.batons {
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  width: 6vw;
  gap: 4vh;

  img {
    width: auto;
    height: auto;
  }
}

.imgbatom {
  width: 22vw;
  height: auto;

}

/* BOX DE DESCRIÇÃO */
.boxdescricao {
  width: 40%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 2vh 1.8vw;
  justify-content: flex-start;
  text-align: left;

  img {
    width: 20%;
  }

  .botoescores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  button {
    border: none;
    border-radius: 100%;
    width: min(8vw, 50px);
    aspect-ratio: 1/1;
    font-size: 0;
    margin: 0.5vw;
  }

  .vermelho {
    background-color: #e1342a;
  }

  .marrom {
    background-color: #73282d;
  }

  .azul {
    background-color: #b1b0d8;
  }

  .nude {
    background-color: #de755e;
  }
}

/* Texto */
h2, h3, h4, p {
  font-family: Roboto;
  padding-bottom: 1vh;
}

h3 {
  font-size: 1.4vh;
  padding-top: 1vh;
}

h4 {
  font-size: 2.5vh;
  padding-top: 3vh;
}

p {
  text-align: justify;
  font-size: 1.9vh;
}


/* ========================================= */
/* ==========   RESPONSIVIDADE   =========== */
/* ========================================= */

@media (max-width: 768px) {

  .lancamentos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
  }

  .imagens {
    width: 90%;
    padding: 0;
    flex-direction: column;
  }

  .batons {
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    padding: 2vh 0;
    width: 22.5vw;

    img {
      width: 90%;
    }
  }

  .imgbatom {
    width: 90vw;
    max-width: 65vw;
    padding: 0;
  }

  .boxdescricao {
    width: 64%;
    margin-top: 2vh;
    justify-content: center;
    text-align: center;

    img {
      width: 30vw;
    }
  }

  .botoescores {
    justify-content: center;
  }

  p {
    padding: 0 0.9vw;
  }
}
