

/* import { useState } from "react";

function Lancamentos() {
  // Estado que guarda a cor (imagem) atual
  // O valor inicial é a imagem "vermelho"
  const [cor, setCor] = useState(vermelho);

  return (
    <>
      
      <section className="boxlancamentos">
        
      <h1>Aproveite os lançamentos</h1>
      
      <section className="lancamentos">
      <section className="imagens">
      
        <section className="batons">
          <img src={glossaberto} alt="Batom líquido aberto" />
          <img src={battons} alt="Batons" />
          <img src={glossfechados} alt="Batom líquido fechado" />
        </section>
        
    
      <img src={cor} alt="Batom" />
      </section>
      
      
      <section className="boxdescricao">
        <img src={estrelas} alt="Estrelas" />
        <h2>Matte Premium</h2> 
        <h3>Cores disponíveis</h3>
        
        <section className="botoescores">
      
      <button onClick={() => setCor(vermelho)}>Vermelho</button>
      <button onClick={() => setCor(azul)}>Azul</button>
      <button onClick={() => setCor(marrom)}>Marrom</button>
      <button onClick={() => setCor(nude)}>Nude</button>
        </section>
        
        <h4>Descrição</h4>
        <p>O Batom Matte possui uma fórmula inovadora desenvolvida para entregar o máximo de cor na primeira aplicação com um deslize suave e macio. Tem acabamento matte aveludado e manteiga de manga que ajuda a hidratar e a proteger os lábios contra ressecamento. Ajuda na hidratação dos lábios, textura fina e macia que não pesa nos lábios.</p>
      </section>
      </section>
      </section>
    </>
  );
}

*/

.boxlancamentos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh;
}

.lancamentos {
  display: flex;
  flex-direction: row;
  padding: 3vh 0;
  gap: 2vh;
  align-items: center;
  flex-wrap: wrap;
}

.imagens {
  display: flex;
  padding: 2vh;
}

.imgbatom {
  width: 100%;
  max-width: 350px;   
  height: auto;       
  object-fit: cover;  
  padding: 0 1vw;
}


.batons {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
  height: 100%;
  gap: 2vh;
}

/* Box de descrição */

.boxdescricao {
  width: 40%;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5); 
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
  padding: 3vh;

  /* Estrelinhas */
  img {
    width: 25%;
  }

  /* Botões */
  .botoescores {
    display: flex;
    flex-direction: row;
  }
  
  button {
    border: none;
    border-radius: 100%;
    width: min(8vw, 50px);
    aspect-ratio: 1/1;
    font-size: 0;
    margin: 0.5vw;
  }

  .vermelho {
    background-color: #E1342A;
  }

  .marrom {
    background-color: #73282D; 
  }

  .azul {
    background-color: #B1B0D8;
  }

  .nude {
    background-color: #DE755E;
  }

  /* Texto */
}